<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="static/css/favoritos.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<title>iFood</title>
	</head>
	<body>
		<div class="container">
			<div class="hero">
				<!-- HEADER -->
				<div class="header">
					<ul>
						
						<li><a href="">Início</a></li>
						<li><a href="">Mercados</a></li>
						<li><a href="">Restaurante</a></li>
						
						
					
					</ul>
	
					<div class="form">
						<div class="search">
							<img src="static/img/search.svg" alt="" />
							<input type="text" placeholder="Buscar endereço e número" />
						</div>
					
					</div>
				</div>

				<!-- BG -->
				<div class="bg">
					<div class="left">
						<img src="static/img/dish-left.png" alt="" />
						<img class="svg" src="static/img/left.svg" alt="" />
					</div>
					<div class="right">
						<img class="svg" src="static/img/right.svg" alt="" />
						<img src="static/img/dish-right.png" alt="" />
					</div>
					<div class="content">
						
						
				
						
						
					</div>
				</div>
			</div>
			<div class="footer">
				
				<span></span>
			</div>

			<div class="cardstack-info-card">

				<img loading="lazy" src="https://static.ifood-static.com.br/image/upload/t_high/discoveries/001-search-empty-state.png" alt="Nenhum resultado encontrado" class="cardstack-info-card__image" crossorigin="anonymous">
				
				
			</div>
			<h1 class="cardstack-info-card__title">Nenhum resultado encontrado</h1>
			<p class="cardstack-info-card__description">Voltar para a Home</p>
			</div>

			<div class="buttonfav">
				<ul>
					<h1>
						<a href="home" style="
						text-decoration: none;font-size: 1rem; color: red;">Voltar</a>
					</h1>
					
				</ul>	
			</div>
		
			</div>
			
		
	</body>
</html>
